body{
    background-image: url(../../img/background.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
    width: 80%;
    height: 100vh;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cima{
    background-color: #37394e85;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
}
.cima_esquerda{
    display: flex;
    align-items: center;
    gap: 20px;
}
.cima_esquerda img{
    width: 70%;
    height: 60%;
}
.cima_esquerda h1{
    color: var(--branco);
    font-family: 'Saira Condensed',sans-serif;
    font-size: 35px;
}
.cima_esquerda h2{
    color: var(--branco);
    font-family: 'Saira Condensed',sans-serif;
    font-size: 20px;
    opacity: 0.5;
}
.cima_direita{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    gap: 10px;
}
.cima_direita h1{
    color: var(--branco);
    font-family: 'Saira Condensed',sans-serif;
    font-size: 35px;
}
.cima_direita p{
    color: var(--branco);
    font-family: 'Saira Condensed',sans-serif;
    font-size: 20px;
}
.cima_direita img{
    width: 50px;
}
.cima_direita a{
    width: 100%;
    text-decoration: none;
}
.buttons_group{
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}
.buttons_group button{
    width: 100%;
    height: 40%;
    background-color: var(--desabilitado);
    border: none;
    text-decoration: none;
    color: var(--branco);
    font-family: 'Saira Condensed',sans-serif;
    font-size: 20px;
    border-radius: 8%;
    cursor: pointer;
    box-shadow: 1px 1px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons_group button:active{
    scale: 0.95;
}
.buttons_group{
    width: 100%;
}
.baixo{
    display: flex;
    justify-content: space-between;
}
.esquerda{
    width: 60%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.feed{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.post{
    background-color: var(--desabilitado);
    width: 96%;
    height: 120px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 1px 1px 3px black;
}
.post p{
    color: var(--branco);
    font-family: 'ABeeZee', sans-serif;
    font-size: 15px;
}
.perfil{
    display: flex;
    gap: 15px;
    color: var(--branco);
    font-family: 'ABeeZee', sans-serif;
}
.post_perfil{
    width: 50px;
}
.usuario{
    font-size: 12px;
    opacity: 0.5;
    margin-top: 5px;
}
.menu_container{
    position: fixed;
    height: 100vh;
    width: max-content;
    display: flex;
    flex-direction: row;
    width: max-content;
    flex-wrap: nowrap;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.menu_pages{
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.only_page_menu{
    height: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon_page_menu{
    width: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 2px var(--laranja);
    border-radius: 50%;
    transition: 0.3;
}
.icon_page_menu:hover{
    scale: 0.97;
    opacity: 0.9;
}

.baixo_direita{
    width: 35%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn_principal{
    width: 160px;
    height: 40px;
    background-color: var(--laranja);
    border: none;
    text-decoration: none;
    color: var(--branco);
    font-family: 'Saira Condensed',sans-serif;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 3px black;
}
.btn_principal:active{
    scale: 0.95;
}