.home{
    display: flex;
}
.esquerda{
    color: var(--branco);
    background-color: black;
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    font-family: 'Saira Condensed',sans-serif;
    gap: 130px;
}
.logo_home{
    width: 210px;
}
.title_group{
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: 20px;
}
.topicos_group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.topicos_home{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.topicos_home_img{
    width: 25px;
    margin: 10px;
}

.direita{
    background-image: url(../../img/background.png);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.title{
    color: var(--laranja);
    font-family: 'Secular One', sans-serif;
    font-size: 35px;
    font-weight: 200;
    margin-bottom: 10px;
}
.btn_principal{
    color: var(--branco);
    background-color: var(--laranja);
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 6px;
    font-family: 'Saira Condensed',sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn_secundario{
    background: none;
    border: none;
    text-decoration: none;
    color: var(--branco);
    font-family: 'Saira Condensed',sans-serif;
    font-size: 20px;
    cursor: pointer;
    height:min-content;
    width: auto;
}
.btn_secundario:hover{
    scale: 0.97;
    opacity: 0.7;
}
.form_cadastro{
    width: 50%;
}
.cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_basic{
    width: 90%;
}
.cadastro label{
    color: var(--branco);
    font-family: 'Saira Condensed',sans-serif;
    width: 100%;
}
.cadastro input{
    text-decoration: none;
    border: none;
    background-color: var(--cinza);
    height: 35px;
    border-radius: 6px;
    margin:5px 0 20px 0;
    font-size: 120%;
    font-family: 'Saira Condensed',sans-serif;
    padding: 4px;
    font-weight: bold;
}
.cadastro input:focus,input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    box-shadow: 0 0 0 0;
    outline: 0;
    border: none;
    text-decoration: none;
    box-shadow: 2px 2px 10px var(--laranja);
}
.form_group{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.senha_group{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.adicionais_group{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.button_group{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    cursor: auto;
}