.home{
    display: flex;
}
.esquerda{
    color: var(--branco);
    background-color: black;
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo_home{
    width: 190px;
    margin: 50px 0 20px 0;
}
.perfil_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.perfil_home_img{
    width: 200px;
    margin: 0 0 20px 0;
}
.perfil_home_follows{
    color: var(--branco);
    font-family: 'Saira Condensed',sans-serif;
    font-size: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.perfil_home_follows a{
    cursor: pointer;
}
.perfil_home_follows a:hover{
    color: var(--laranja);
    scale: 0.95;
}
.pages{
    margin: 30px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    

}
.only_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 70%;
    margin: 15px 0 0 0;
    color: var(--desabilitado);
    font-family: 'Secular One', sans-serif;
}

.only_page img{
    width: 70px;
    cursor: pointer;
}
.only_page a{
    cursor: pointer;
    text-decoration: none;
    color: var(--desabilitado);
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}
.only_page a:hover{
    scale: 1.1;
}
.current, .current a{
    color: var(--laranja);
}
.direita{
    background-image: url(../../img/background.png);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.cima{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.4s ease-in;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 65vw;
    max-height: 100vh;
    transform-style: preserve-3d;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container input[type=radio]{
    display: none;
}
.cards{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
}
.card{
    position: absolute;
    width: 50%;
    height: 80%;
    transition: transform 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}
.card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}
.card h1{
    visibility: hidden;
    color: var(--branco);
    font-family: 'Saira Condensed',sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.card_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.likes{
    width: 100%;
    height: 100%;
    max-width: 150px;
    visibility: hidden;
}
#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2{
    transform: translateX(-60%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1{
    transform: translateX(60%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3{
    transform: translateX(0%) scale(1);
    opacity: 1;
    z-index: 1;
}
.card_atual{
    box-shadow: 0px 0px 10px 0px black;
}
#item-1:checked ~ .cards #song-1 h1,
#item-2:checked ~ .cards #song-2 h1,
#item-3:checked ~ .cards #song-3 h1,
#item-1:checked ~ .cards #song-1 .likes,
#item-2:checked ~ .cards #song-2 .likes,
#item-3:checked ~ .cards #song-3 .likes{
    visibility: visible;
}
