.home{
    display: flex;
    background-image: url(../../img/background.png);

}
.esquerda{
    color: var(--branco);
    background-color: rgba(0, 0, 0, 1);
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.logo_home{
    width: 190px;
    margin: 50px 0 20px 0;
}
.perfil_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.perfil_home_img{
    width: 200px;
    margin: 0 0 20px 0;
}
.perfil_home_follows{
    color: var(--branco);
    font-family: 'Saira Condensed',sans-serif;
    font-size: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.perfil_home_follows a{
    cursor: pointer;
}
.perfil_home_follows a:hover{
    color: var(--laranja);
    scale: 0.95;
}
.pages{
    margin: 30px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    

}
.only_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 70%;
    margin: 15px 0 0 0;
    color: var(--desabilitado);
    font-family: 'Secular One', sans-serif;
}

.only_page img{
    width: 70px;
    cursor: pointer;
}
.only_page a{
    cursor: pointer;
    text-decoration: none;
    color: var(--desabilitado);
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}
.only_page a:hover{
    scale: 1.1;
}
.current, .current a{
    color: var(--laranja);
}
.direita{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}
.publicar_feed{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}
.publicar{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title{
    color: var(--branco);
    font-family: 'Saira Condensed',sans-serif;
    font-size: 20px;
}
.publicar_post{
    background-color: var(--desabilitado);
    width: 96%;
    height: 100px;
    border-radius: 5px;
    padding: 2%;
    color: var(--branco);
    font-family: 'ABeeZee', sans-serif;
    resize: none;
    box-shadow: 0 0 0 0;
    outline: 0;
    border: none;
    text-decoration: none;
}
.publicar_post:focus,.publicar_post::-webkit-outer-spin-button,
.publicar_post::-webkit-inner-spin-button {
    -webkit-appearance: none;
    box-shadow: 0 0 0 0;
    outline: 0;
    border: none;
    text-decoration: none;
}
.publicar_last{
    display: flex;
    justify-content: space-between;

}
.publicar_icons{
    display: flex;
    gap: 6px;
    align-items: flex-start;
}
.publicar_icons img{
    width: 20px;
    cursor: pointer;
}
.publicar_icons img:hover{
    scale: 0.95;
    opacity: 0.6;
}
.btn_principal{
    color: var(--branco);
    background-color: var(--laranja);
    border: none;
    border-radius: 6px;
    font-family: 'Saira Condensed',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 8%;
    font-size: large;
}
.btn_principal:active{
    scale: 0.95;
}
.feed{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.post{
    background-color: var(--desabilitado);
    width: 96%;
    height: 120px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 1px 1px 3px black;
}
.post p{
    color: var(--branco);
    font-family: 'ABeeZee', sans-serif;
    font-size: 15px;
}
.perfil{
    display: flex;
    gap: 15px;
    color: var(--branco);
    font-family: 'ABeeZee', sans-serif;
}
.post_perfil{
    width: 50px;
}
.usuario{
    font-size: 12px;
    opacity: 0.5;
    margin-top: 5px;
}
.menu_container{
    position: fixed;
    height: 100vh;
    width: max-content;
    display: flex;
    flex-direction: row;
    width: max-content;
    flex-wrap: nowrap;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.menu_pages{
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.only_page_menu{
    height: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon_page_menu{
    width: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 2px var(--laranja);
    border-radius: 50%;
    transition: 0.3;
}
.icon_page_menu:hover{
    scale: 0.97;
    opacity: 0.9;
}